body{
    font-family:'Courier New', Courier, monospace;
    padding: 5%;
    padding-top: 5px;
    text-align: center;
    background-color: #333;
    color: #ddd;
}

input, button, select{
    font-family: 'Courier New', Courier, monospace;
    background-color: #333;
    color: #ddd;
}

.header {
    font-weight: bold;
    font-size: 32px;
}

.buttonLink{
    background-color: transparent;
    border: none;
    font-size: inherit;
    padding: 0;
    text-decoration: underline;
    cursor: pointer;
}

.buttonLink:hover{
    color: #0cc;
}

.metaParamInput{
    margin-bottom: 12px;
}

.numInput{
    width: 40px;
    height: 20px;
    font-size: 16px;
    border: 2px solid #666;
    border-radius: 5px;
}

table{
    border-spacing: 2px;
}

td{
    border: 0px solid #666;
    margin: 0;
}

td:hover::before{
    border: none;
}

.cell{
    border: none;
    outline: 2px solid #666;
    background-color: #444;
    font-size: 14px;
    width: 52px;
    height: 20px;
}

.cell:focus{
    border: none;
    outline: 2px solid #ccc;
}

select{
    margin-top: 10px;
    height: 26px;
    border: 2px solid #666;
    border-radius: 5px;
}

select:hover{
    background-color: #444;
}

.copyLatex{
    font-size: 20px;
    margin-top: 12px;
    margin-bottom: 5px;
    background-color: #fff;
    border: 2px solid #fff;
    border-radius: 5px;
    color: black;
    transition:ease 0.2s;
}

.copyLatex:hover{
    background-color: #aaa;
}

.copyLatex:focus-visible{
    background-color: #aaa;
}

textarea{
    background-color: #444;
    color: #ccc;
    border: 2px solid #666;
    outline: none;
}

.previewWrapper{
    display: flex;
    justify-content: center;
}

.latexPreview{
    background-color: #444;
    text-align: left;
}

a, a:active, a:visited{
    color: #ccc;
    position: fixed;
    left: 16px;
    top: calc(100vh - 32px);
}

a:hover{
    color: #0cc;
}